.home {
    width: 100%;
    height: 100vh;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/galpaocaieiras.appspot.com/o/homeBk.jpg?alt=media&token=b0fdba60-e66a-486b-99c5-d725e5a3d2d8');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    width: 100%;
    height: 100%;

}
.home-main {
    width: 80%;
    height: auto;
    margin: 5vh auto;
    object-fit: contain;
}

.logo {
    margin: auto;
    width: 27vw;
    height: 60vh;
    object-fit: contain;
}

.nombre {
    margin: auto;
    width: 80%;
    height: 42vh;
    object-fit: contain;
}

@media screen and (max-width:1024px) {
    .logo {
        margin: auto;
        width: 80vw;
        height: 50vh;
        object-fit: contain;
    }
    
    .nombre {
        margin: auto;
        width: 80%;
        height: 15vh;
        object-fit: contain;
        background-color: #444444;
    }
}