.footer {
    width: 100%;
    height: 25vh;
    background-color: rgb(36, 36, 36);
    color: #c1c1c1;
}

.footer-galpao {
    width: 100%;
    height: 15vh;
}

.developer{
    margin:auto;
    background-color: #c6c6c6;
    border-top: 1px solid #c1c1c1;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.developer h3 {
    font-size: small;
    color: #616161;
    margin: 0px auto;
    width: 80%;
    text-align: center;
}

.social-footer {
    width: 35vw;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.icon-social-footer {
    fill: #616161;
    color: #616161;
    width: 25px;
    height: 25px;
}

@media (max-width: 991px) {
    .developer{
        height: 15vh;
    }
}